eval_data_extract/html/*.html filter=lfs diff=lfs merge=lfs -text
eval_data_extract/metadata/*.json filter=lfs diff=lfs merge=lfs -text
eval_data_extract/hash_index.json filter=lfs diff=lfs merge=lfs -text
eval_data_extract/url_index.json filter=lfs diff=lfs merge=lfs -text
eval_data_extract/ground_truth/patterns/* filter=lfs diff=lfs merge=lfs -text
eval_data_extract/ground_truth/data/* filter=lfs diff=lfs merge=lfs -text
eval_data_extract/screenshots/*.png filter=lfs diff=lfs merge=lfs -text
eval_data_extract/* filter=lfs diff=lfs merge=lfs -text
